body{
  background-color:#ea384d;
}
.intro{
  height:300px;
  background-color:#00043d;
  border:1px solid #000000;
  padding:22px;
  opacity:0.7;
}
.pic{
  width:300px;
  height:300px;
  border-radius:150px;
  background-color:none;
  background-image:url("/home/david/Documents/Portfolio/images/dave.jpg");
  background-repeat:no-repeat;
  background-position:center;
  background-size:cover;
  float:left;
  margin-right:120px;
}
h3{
  font-size:26px;
  color:#0072ff;
}
h5{
  color:#26a0da;
  font-size:45px;
  text-align:center;
}
.about{
  height:400px;
  background-color:#00043d;
  border-radius:4px;
  opacity:0.7;
  margin-top:-43px;
}
